.user_product_index
  = render partial: "partials/order_nav"
  
  .user_product_show
    %form
      %table.product_order_table

        %tr
          %td.label_col std. size
          %td.field_col
            .field_bar
              %select
                %option Select size

        %tr
          %td.label_col orientation
          %td.field_col
            .field_bar
              %input{type: "radio", name: "banner_orientation", value: "portrait"}
              %label{for: "banner_orientation"} Portrait
              %input{type: "radio", name: "banner_orientation", value: "landscape"}
              %label{for: "banner_orientation"} Landscape
        
        %tr
          %td.label_col finishing
          %td.field_col
            .field_bar
              %input{type: "radio", name: "banner_finishing", value: "matte"}
              %label{for: "banner_finishing"} Matte
              %input{type: "radio", name: "banner_finishing", value: "gloss"}
              %label{for: "banner_finishing"} Gloss
              
        %tr
          %td.label_col extra
          %td.field_col
            .field_bar
              %input{type: "radio", name: "banner_finishing", value: "eyelet"}
              %label{for: "banner_finishing"} Eyelet <i>"1 eyelet per sheet"</i>
              %input{type: "radio", name: "banner_finishing", value: "rope"}
              %label{for: "banner_finishing"} Rope

        %tr
          %td.label_col quantity
          %td.field_col
            .field_bar
              %input{type: "number"}
              
        %tr
          %td.label_col duration
          %td.field_col
            .field_bar.short -
            .field_bar.theme_c.medium
              %input{type: "checkbox", name: "product_urgent"}
              %label{for: "product_urgent"} <b>Urgent (1 hour)</b> <i>Max quantity 1-30 units only.</i>
              
        %tr
          %td.label_col delivery
          %td.field_col
            .field_bar
              %input{type: "radio", name: "product_finishing", value: "klang_valley"}
              %label{for: "product_printing"} Klang Valley
              %input{type: "radio", name: "product_finishing", value: "other"}
              %label{for: "product_printing"} Area Out Of Klang Valley
              %input{type: "radio", name: "product_finishing", value: "no"}
              %label{for: "product_printing"} No
              
        %tr
          %td.label_col Total price
          %td.field_col
            .field_bar
              %input{type: "number"}
              
        %tr
          %td.label_col.top remark
          %td.field_col
            %textarea{placeholder: "Please note if there's any specification or other requirement."}
      
      .secondary_field_col
        .upload_bar
          .upload_indicator Upload your printing file. Max file size is 200MB.
          %input{type: "file", class: "file_upload"}

      .corner_links
        = link_to "", root_path, class: "view_more"
        = link_to "", root_path, class: "place_order"
