.user_product_index
  = render partial: "partials/order_nav"
  
  .user_product_show
    %form
      %table.product_order_table
        %tr
          %td.label_col type
          %td.field_col
            .field_bar
              %input{type: "radio", name: "popup_type", value: "curve"}
              %label{for: "popup_type"} Curve
              %input{type: "radio", name: "popup_type", value: "flat"}
              %label{for: "popup_type"} Flat

        %tr
          %td.label_col size
          %td.field_col
            .field_bar.theme_b Front - 75cm[W]x228.46[H] x 3pcs | Side - 65cm[W]x228.46[H] x 2pcs
        
        %tr
          %td.label_col weight
          %td.field_col
            .field_bar.theme_b 30 kg

        %tr
          %td.label_col printing
          %td.field_col
            .field_bar
              %input{type: "radio", name: "product_printing", value: "yes"}
              %label{for: "product_printing"} Yes
              %input{type: "radio", name: "product_printing", value: "no"}
              %label{for: "product_printing"} No
  
        %tr
          %td.label_col quantity
          %td.field_col
            .field_bar
              %input{type: "number"}
              
        %tr
          %td.label_col duration
          %td.field_col
            .field_bar.theme_b.short 4 working days
            .field_bar.theme_c.medium
              %input{type: "checkbox", name: "product_urgent"}
              %label{for: "product_urgent"} <b>Urgent (1 working day)</b> <i>Max quantity 1-30 units only.</i>
              
        %tr
          %td.label_col delivery
          %td.field_col
            .field_bar
              %input{type: "radio", name: "product_finishing", value: "klang_valley"}
              %label{for: "product_printing"} Klang Valley
              %input{type: "radio", name: "product_finishing", value: "other"}
              %label{for: "product_printing"} Area Out Of Klang Valley
              %input{type: "radio", name: "product_finishing", value: "no"}
              %label{for: "product_printing"} No
              
        %tr
          %td.label_col Total price
          %td.field_col
            .field_bar
              %input{type: "number"}
              
        %tr
          %td.label_col.top extra order
          %td.field_col
            .field_bar
              %ul.extra_order
                %li
                  %input{type: "checkbox"}
                  Magnetic Bar (Curve) <i>[x3]</i>
                %li
                  %input{type: "checkbox"}
                  Magnetic Bar (Flat) <i>[x3]</i>
                %li
                  %input{type: "checkbox"}
                  Hanger (Curve) <i>[x3]</i>
                %li
                  %input{type: "checkbox"}
                  Hanger (Flat) <i>[x3]</i>
                %li.short
                  %input{type: "checkbox"}
                  Spotlight <i>[x1]</i>
                %li.short
                  %input{type: "checkbox"}
                  Case <i>[x1]</i>
                %li.medium
                  %input{type: "checkbox"}
                  Magnetic Roll 100m <i>[x1]</i>
              .price_bar
                <b>extra order price</b>
                %input{type: "number"}
      
      .secondary_field_col
        .upload_bar
          .upload_indicator Upload your printing file. Max file size is 200MB.
          %input{type: "file", class: "file_upload"}
      
      .popup_remark
        .label_row Remark
        %textarea{placeholder: "Please note if there's any specification or other requirement."}
      
      .corner_links
        = link_to "", root_path, class: "view_more"
        = link_to "", root_path, class: "place_order"
              