%footer.clearfix
  .center_wrapper
    %span Copyright reserved by <a href="http://www.smartprint2u.com">www.smartprint2u.com</a> &#124; Maintained by 3S DIGITAL SERVIS SDN BHD
    %span.pull_right
      %a Site Map
      %span &#124;
      %a Contact Us
    .clearfix