.info_index {
  height: 455px;
  position: relative;
  p {
    color: #CCCCCC;
    font-size: 13px;
    line-height: 1.5em;
    margin-bottom: 15px;
    text-align: justify;
    b {
      color: #E9E511;
    }
    strong {
      color: #E9E511;
      font-size: 15px;
    }
  }
}

.info_index.about_us {
  background: url(/assets/about.png) no-repeat #666666;
  background-position: 520px 25px;
  padding: 25px 460px 0 25px;
}

.info_index.custom_service {
  background: url(/assets/service.png) no-repeat #666666;
  background-position: 600px 35px;
  padding: 25px 380px 0 25px;
}

.info_index.how_we_work {
  text-align: center;
  padding-top: 80px;
  height: 400px;
  > a {
    display: inline-block;
    width: 248px;
    height: 248px;
    background: url(/assets/how-we-work.png) no-repeat;
    position: relative;
    &.join {
      background-position: 0 0;
    }
    &.order {
      background-position: -270px 0;
    }
    &.pay {
      background-position: -550px 0;
    }
    &:hover {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 248px;
        height: 248px;
        background: url(/assets/frame-hww.png) no-repeat;
      }
    }
  }
}

.faq_index {
  text-align: center;
  padding-top: 120px;
  height: 360px;
  > a {
    display: inline-block;
    width: 120px;
    height: 120px;
    background: url(/assets/faq-sprite.png) no-repeat;
    position: relative;
    &.artwork {
      background-position: -4px 0;
    }
    &.membership {
      background-position: -126px 0;
    }
    &.payment {
      background-position: -249px 0;
    }
    &.products {
      background-position: -368px 0;
    }
    &.order {
      background-position: -478px 0;
    }
    &.delivery {
      background-position: -584px 0;
    }
    &.account {
      background-position: -688px 0;
    }
    &:hover {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 120px;
        background: url(/assets/frame-faq.png) no-repeat;
      }
    }
  }
}

.faq_show {
  padding-top: 15px;
  padding-left: 15px;
  height: 465px;
  .topbar {
    padding-right: 15px;
    .faq_label {
      display: inline-block;
      width: 55px;
      height: 44px;
      background: url(/assets/faq-sprite.png) no-repeat;
      &.artwork {
        background-position: -40px -55px;
      }
      &.membership {
        background-position: -159px -55px;
      }
      &.payment {
        background-position: -284px -55px;
      }
      &.products {
        background-position: -409px -55px;
      }
      &.order {
        background-position: -512px -55px;
      }
      &.delivery {
        width: 58px;
        background-position: -617px -55px;
      }
      &.account {
        background-position: -688px -55px;
      }
    }
    .faq_nav {
      > a {
        width: 32px;
        height: 25px;
        margin-left: 6px;
        background: url(/assets/faq-nav.png) no-repeat;
        &.artwork {
          background-position: 0 0;
        }
        &.membership {
          background-position: -48px 0;
        }
        &.payment {
          background-position: -93px 0;
        }
        &.products {
          width: 24px;
          background-position: -140px 0;
        }
        &.order {
          background-position: -175px 0;
        }
        &.delivery {
          background-position: -217px 0;
        }
        &.account {
          width: 24px;
          background-position: -260px 0;
        }
      }
    }
  }
  h1 {
    font-size: 16px;
    text-transform: uppercase;
  }
  .content_row {
    width: 100%;
    tr td {
      width: 33%;
      padding-right: 15px;
      vertical-align: top;
      h3 {
        font-size: 11px;
      }
      p, ol {
        font-size: 11px;
        text-align: justify;
        margin: 0 0 10px;
        padding: 0;
      }
      ol {
        list-style-position: inside;
        list-style-type: lower-roman;
      }
    }
    &.artwork {
      h3 {
        color: #AC7464;
      }
    }
    &.membership {
      h3 {
        color: #812990;
      }
    }
    &.payment {
      h3 {
        color: #2DB34A;
      }
    }
    &.products {
      h3 {
        color: #273A92;
      }
    }
    &.order {
      h3 {
        color: #84D5F7;
      }
    }
    &.delivery {
      h3 {
        color: #FAA722;
      }
    }
    &.account {
      h3 {
        color: #84D5F7;
      }
    }
  }
}

.how_we_work_index {
  height: 430px;
  padding: 25px;
  position: relative;
  .hww_nav {
    float: right;
    a {
      width: 50px;
      height: 40px;
      background: url(/assets/hww-nav.png) no-repeat;
      &.join {
        background-position: 2px 0;
      }
      &.order {
        background-position: -62px 0;
      }
      &.pay {
        background-position: -129px 0;
      }
    }
  }
  &.how_to_join {
    background: url(/assets/how-to-join.png) no-repeat;
    background-position: 25px center;
  }
  &.how_to_order {
    background: url(/assets/how-to-order.png) no-repeat;
    background-position: 25px center;
  }
  &.how_to_pay {
    background: url(/assets/how-to-pay.png) no-repeat;
    background-position: 25px center;
  }
}

// Contact us
.contacts_index {
  background: url(/assets/map.png) no-repeat;
  width: 940px;
  height: 480px;
  position: relative;
  .contact_info {
    color: #E9E511;
    width: 152px;
    height: 130px;
    position: absolute;
    top: 56px;
    left: 35px;
    p {
      font-size: 11px;
      margin-bottom: 5px;
    }
  }
}