.user_product_index {
  padding: 15px;
  height: 450px;
  .order_nav {
    text-align: justify;
    a {
      display: inline-block;
      border: 1px solid transparent;
      background: url(/assets/order-nav.png) no-repeat;
      width: 77px;
      height: 74px;
      &:hover, &.current {
        border: 1px solid #666;
      }
      &.popup {
        background-position: 1px 2px;
      }
      &.round_stand {
        background-position: 2px -742px;
      }
      &.tripod_stand {
        background-position: 1px -1061px;
      }
      &.rollup_stand {
        background-position: 1px -955px;
      }
      &.x_stand {
        background-position: 2px -849px;
      }
      &.poster {
        background-position: 1px -329px;
      }
      &.poster_stand {
        background-position: 2px -424px;
      }
      &.kiosk {
        background-position: 1px -531px;
      }
      &.banner {
        background-position: 1px -227px;
      }
      &.bunting {
        background-position: 1px -637px;
      }
      &.canvas {
        background-position: 1px -120px;
      }
    }
  }
  .user_product_show {
    border: 1px solid #666;
    padding: 25px 15px;
    height: 330px;
    position: relative;
    .corner_links {
      position: absolute;
      bottom: 15px;
      right: 25px;
      a {
        display: inline-block;
        width: 52px;
        height: 56px;
        &.view_more {
          background: url(/assets/view-more.png) no-repeat;
        }
        &.place_order {
          width: 58px;
          margin-left: 11px;
          background: url(/assets/place-order-2.png) no-repeat;
        }
      }
    }
    .popup_remark {
      font-size: 12px;
      width: 180px;
      position: absolute;
      bottom: 45px;
      right: 145px;
      .label_row {
        color: #666;
        text-transform: uppercase;
      }
      textarea {
        height: 87px;
        border: 1px solid #666;
        resize: none;
      }
    }
    .secondary_field_col {
      font-size: 12px;
      width: 300px;
      position: absolute;
      top: 51px;
      right: 25px;
      .upload_indicator {
        padding: 4px;
        font-family: arial, sans-serif;
        border: 1px solid #666;
        color: #666;
        font-style: italic;
        margin-bottom: 5px;
      }
    }
    .product_order_table {
      font-size: 12px;
      tr {
        td {
          &.label_col {
            width: 95px;
            color: #666;
            text-transform: uppercase;
            &.top {
              vertical-align: top;
              padding-top: 5px;
            }
          }
          &.field_col {
            width: 465px;
            textarea {
              width: 452px;
              height: 80px;
              border: 1px solid #666;
              resize: none;
            }
            .field_bar {
              width: 450px;
              padding: 4px;
              font-family: arial, sans-serif;
              background: #666;
              color: #fff;
              .price_bar {
                text-align: right;
                padding: 15px 0 2px;
                b {
                  text-transform: uppercase;
                }
              }
              .extra_order {
                li {
                  display: inline-block;
                  width: 50%;
                  margin-right: -4px;
                  &.short {
                    width: 25%;
                  }
                  &.medium {
                    width: 50%;
                  }
                }
              }
              input.short {
                width: 60px;
              }
              &.theme_b {
                color: #000 !important;
              }
              &.theme_c {
                background: #fff;
                color: #666;
              }
              &.short {
                width: 120px;
                display: inline-block;
              }
              &.medium {
                width: 320px;
                display: inline-block;
              }
            }
          }
        } // td
      } // tr
    } // product_order_table
  }
}