.products_show
  .left_col
    .product_label.canvas
    %h1 Canvas
    %p Print your own favourable artwork or memorable picture on canvas with the ready-to-hang wooden wrap frame! Turn your home and office interior into stunning spaces with this waterproof and high quality canvas prints.
  
    %a.place_order_link
  .right_col
    = render partial: "partials/product_nav"

    .product_gallery
      .slides_container
        = image_tag "products/canvas-1.png"
        = image_tag "products/canvas-2.png"