.products_show
  .left_col
    .product_label.popup
    %h1 Pop up system
    %p Pop up system offers a large and effective image area that generates attention at all kinds of events. Available in curve and flat configuration.
    %p KIT CONTENTS:<br />Aluminium Frame [x1], Ready To Hang Panels [x5], Hanger [x5], Spot Light [x2], Magnetic Bar [x21], Magnetic Roll [x1] and Wheel Casing [x1].
  
  .right_col
    .navigation_row
      = image_tag "product-sprite-2.png", class: "pull_right"
    .product_gallery
      .slides_container
        = image_tag "products/popup-1.png"
        = image_tag "products/popup-1.png"