.about_index
  %p Creating a professional and effective exhibition or advertisement display can be a daunting task full of pitfalls and headaches, but it doesn't have to be that way! So why not make your jobs easy with us?
  
  %p SMART PRINT is committed to provide <b>internet online service</b> for high quality display systems and also printing services. Our website contains a wide selection of pop-up displays, banners, buntings, portable stands, canvas printing and other accessories to fit all your company's trade show or personal needs.
  
  %p <strong>Our member can purchase our items online and upload the artworks anytime through our website. Once an order is placed and ready, we will deliver the orders to our customer's doorstep with a very low charge.</strong>
  
  %p However, if you do not immediately see a solution to your display and exhibition requirements, please do not hesitate to give us a call on <strong>+603 5885 0203</strong> and speak to our friendly support staff or send us an email to <strong><a href="mailto:smartprint@live.com">smartprint@live.com</a></strong> and we will be happy to offer free professional information and advice to help you make the right decision.