.contacts_index
  .contact_info
    %p 24, Jln Industri PBP 3, Tmn Industri Pusat Bdr Puchong, 47100 Puchong, Selangor Darul Ehsan, Malaysia.
    %p T +603 5885 0203
    %p F +603 5885 0206
    %p <a href="mailto:smartprint@live.com">smartprint@live.com</a>