.info_index.custom_service
  %p Do you want to start a printing project but not sure which among our products would best suit the requirements you want? Or you have plenty of advertising ideas in your mind but do not have the team to execute your brilliant ideas into actual items? Or you just need to design simple thing like a poster or a bunting that able to present a long-lasting impact?
  
  %p <strong>We are here for you!</strong> We take care of your project needs from start to finish. We have a professional team who has the resources, experience, and design skills to produce innovative logos, business stationery, brochures, catalogs, websites, advertising campaigns and more. From original design concepts to a full campaign, we will provide the necessary input and creative suggestions to serve you better and help you achieve your business goals.
  
  %p Whether it is a signage, brochure, poster, trade show design, retail display, or just a banner, we can assist you with the design and also production.
  
  %p For more informations, please feel free to call us at <strong>+603 5885 0203</strong> or send us an email to <a href="mailto:smartprint@live.com">smartprint@live.com</a> and we will be glad to serve you with our best service!