.info_index.how_we_work
  = link_to "", how_to_join_how_we_work_index_path, class: "join"
  = link_to "", how_to_order_how_we_work_index_path, class: "order"
  = link_to "", how_to_pay_how_we_work_index_path, class: "pay"